.fields{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.radio-button{
    margin-right: 10px;
}

mat-form-field{
    width: 150px !important;
}