.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

table{
  td, th {
    width: 0;
  }
  }

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-Valor {
  width: 75px !important;
}

  