.space {
    flex: 1 1 auto;
}

.space {
    flex: 1 1 auto;
}



.mat-content{
    height: 100%;
    background-image: url(./background.jpg);
    background-size:cover; width:auto;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}